<div class="card">
    <div class="card-header">
        <div class="t-20">Clients</div>
        <div>
            <span class="t-12 text-default">Projects</span>
            <span class="t-20 pl-5">Update</span>
        </div>
    </div>
    <div class="card-body">
        <div class="team-item">
            <div class="name text-primary t-20">Mathew Encine</div>
            <div class="options">
                <span class="text-default">The futur</span>
            </div>
        </div>
        <div class="team-item">
            <div class="name text-primary t-20">John Parker</div>
            <div class="options">
                <span class="text-default">Update</span>
            </div>
        </div>
        <div class="team-item">
            <div class="name text-primary t-20">Salman Khan</div>
            <div class="options">
                <span class="text-default">SalmanWap</span>
            </div>
        </div>
        <div class="team-item">
            <div class="name text-primary t-20">Shivendra Pratap</div>
            <div class="options">
                <span class="text-default">SpdClub</span>
            </div>
        </div>
        <div class="d-flex content-end px-15 pt-5"><a href="#">View All (5)</a></div>
    </div>
</div>