.team-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    transition: .3s;
    &:hover{
        cursor: default;
        background-color: rgba(0, 0, 0, 0.055);
    }
    .profile{
        height: 40px;
        width: 40px;
    }
    .name{
        width: 100%;
        font-size: 17px;
        color: rgb(92, 92, 92);
    }
    .options{
       white-space: nowrap;
    }
}