/******************************************\
    Pour les dimensions des devices.
\******************************************/
$columns: 12 !default;
$gutter: 10px !default;
$medium: 640px !default;
$large: 1024px !default;
$x-large: 1664px !default;
