<div class="row m-0 p-0">
    <div class="col-12 col-m-6 m-0 p-0">
        <div class="t-30 text-default">Hi Shambhavi,</div>
        <div class="text-default">you can manage your whole team from here.</div>
    </div>
    <div class="col-12 col-m-6 m-0 p-0">
        <div class="text-input__wrapper">
            <div class="input__content">
                <i class="fi fi-rr-search"></i>
                <input type="text" name="text" placeholder="Search..." />
            </div>
            <div class="text-input_error"></div>
        </div>
    </div>
</div>

<div class="row m-0 p-0">
    <div class="col-12 col-m-8 pl-0 pt-20 pr-20 m-0">
        <app-revenue></app-revenue>
    </div>
    <div class="col-12 col-m-4 px-0 pt-20 m-0">
        <app-team></app-team>
    </div>
</div>

<div class="row m-0 p-0">
    <div class="col-12 col-m-4 px-0 pt-20 m-0">
        <app-clients></app-clients>
    </div>
    <div class="col-12 col-m-8 pl-20 pt-20 pr-0 m-0">
        <app-projects></app-projects>
    </div>
</div>
